@import url("./resetStyle.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap');

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #b9b0b2;
}

.container {
    max-width: 1225px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.header {
    flex: 0 0 70px;
    background-color: #929aa2;
    border-bottom: 1px solid #333;

    &__row {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        
        & a {
            font-size: 26px;
            font-weight: 700;
            text-decoration: none;
            transition: all 0.5s ease 0s;
            color: #3a5154;
            font-family: 'Montserrat', sans-serif;

            &:hover {
                color: yellow;
            }
        }
    }
}

.footer {
    flex: 0 0 70px;
    background-color: #929aa2;
    border-top: 1px solid #333;
    
    &__row {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 26px;
        font-weight: 700;

        & span a {
            // color: yellow;
            color: #3a5154;
            text-decoration: none;
            transition: all 0.5s ease 0s;

            &:hover {
                color: yellow;
            }
        }
    }
}

.content {
    flex: 1 0 auto;
}

// ============================================================================================================
.content {

    // .content__column
    &__column {
        padding: 15px 0;
    }

    // .content__title
    &__title {
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        margin-bottom: 20px;
    }

    // .content__search
    &__search {
    }
}

.search {

    // .search__form
    &__form {
    }
}

.form-search {
    text-align: center;
    padding: 10px 0;
    border-bottom: 2px dashed #666;

    // .form-search__group
    &__group {
        margin-bottom: 15px;
        position: relative;
    }

    &__filters {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        column-gap: 30px;
    }

    &__label {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        display: block;
        margin-bottom: 5px;
        font-style: italic;
    }

    // .form-search__input
    &__input {
        padding: 6px;
        font-size: 16px;
        border: 2px solid #777;
        border-radius: 5px;
        min-width: 300px;

        &:focus {
            outline: none;
            box-shadow: 0 0 3px 3px rgb(244, 244, 248);
        }
    }

    &__select {
        padding: 6px;
        font-size: 16px;
        border: 2px solid #777;
        border-radius: 5px;
        min-width: 300px;
        cursor: pointer;

        &:focus {
            outline: none;
            box-shadow: 0 0 3px 3px rgb(244, 244, 248);
        }
    }

    // .form-search__submit
    &__submit {
    }

    // .form-search__submit-button
    &__submit-button {
        padding: 6px;
        font-size: 16px;
        border: 2px solid #777;
        border-radius: 5px;
        min-width: 300px;
        background-color: #fff;
        cursor: pointer;
        box-shadow: 1px 3px 5px rgb(238, 238, 238);
        transition: background-color 0.4s ease 0s;

        &:hover {
            background-color: rgb(191, 194, 90);
        }

        &:active {
            position: relative;
            top: 2px;
            box-shadow: 0 1px 3px #333;
        }

        &:focus {
            outline: 1px solid rgb(244, 244, 248);
        }
    }
}

.error {
    position: absolute;
    bottom: 5px;
    right: 300px;
    font-size: 12px;
    min-width: 200px;
    max-width: 220px;
    color: red;
}

.error-input {
    border: 2px solid red;
}

.loading-block {
    padding-top: 50px;
    font-family: 'Montserrat';
    font-size: 34px;
    font-weight: 700;
    color: green;
    text-align: center;
    
}

.qualifier {

    // .qualifier__option
    &__option {

    }
}

